# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore and *.foo files
!.gitignore
!*.java
!*.txt
!*.jpg
!*.sym
!*.vhd
!*.pdf
!*.png
!*.docx
!*.ucf
!*.ppt
!*.ngc
!*.pptx
!*.bmp